{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <div class="basic-4">
    <div class="container">
        <div class="row">
                <div class="text-container">
                    <h2>Email Verification is Successful </h2>
                    <p class="p-large">Download our app, start your experience.</p>
                    <a class="btn-solid-lg" href="#your-link"><i class="fab fa-apple"></i>APP STORE</a>
                    <a class="btn-solid-lg" href="#your-link"><i class="fab fa-google-play"></i>PLAY STORE</a>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->

        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-4 -->

{% endblock %}